{% extends "app/base.html" %}
{% load static %}
{% block title %}Field{% endblock %}
{% block content %}

<h2 class="mb-2">Field</h2>
<div class="container-fluid d-flex p-0 flex-wrap">
    <h3>Selected field: {{ current_field }}</h3>
    <div class="d-flex flex-grow-1 justify-content-end">
        <div class="form-inline">
            <input class="form-control me-2 sm-2" type="search" placeholder="Search" aria-label="Search" id="search">
        </div>
        <form method="GET" action="{% url 'core:field_edit' %}">
            <input type="hidden" name="name" value="New">
            <button type="submit" class="btn btn-outline-primary ms-1">New</button>
        </form>
    </div>
</div>

<div class="table-responsive">
<table class="table w-100" id="field-table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Edit</th>
        <th scope="col" class="text-right">Delete</th>
      </tr>
    </thead>
    <tbody>
    {% for fieldName in fields %}
    <tr>
        <td>
            <div class="btn-group button-group d-flex align-items-center">
                <form method="GET" action="{% url 'core:field_select' %}">
                    <button type="submit" class="btn btn-success" name="name" value="{{ fieldName }}" {% if current_field == fieldName %}disabled{% endif %}>
                        {% include "icons/check2.html" %}
                    </button>
                </form>
                {% if current_field == fieldName %}
                    <span class="fw-bold fs-4 ps-2">{{ fieldName }}</span>
                {% else %}
                    <a class="link-body-emphasis text-decoration-none fs-4 ps-2" href="{% url 'core:field_select' %}?name={{ fieldName|urlencode }}">{{ fieldName }}</a>
                {% endif %}
            </div>
        </td>
        <td>
            <div class="btn-group button-group">
                <form method="GET" action="{% url 'core:field_duplicate' %}">
                    <button type="submit" class="btn btn-secondary" name="name" value="{{ fieldName }}">
                        {% include "icons/copy.html" %}
                    </button>
                </form>
                <form method="GET" action="{% url 'core:field_edit' %}">
                    <button type="submit" class="btn btn-primary" name="name" value="{{ fieldName }}">
                        {% include "icons/pen.html" %}
                    </button>
                </form>
            </div>
        </td>
        <td>
            <div class="btn-group button-group">
                <div class="ms-auto">
                    <a class="btn btn-primary" href="{% url 'core:field_download' %}?name={{ fieldName|urlencode }}" download="{{ fieldName }}.zip">
                        {% include "icons/download.html" %}
                    </a>
                </div>
                <form method="GET" action="{% url 'core:field_delete' %}">
                    <button type="submit" class="btn btn-danger" name="name" value="{{ fieldName }}" {% if current_field == fieldName %}disabled{% endif %}>
                        {% include "icons/trash.html" %}
                    </button>
                </form>
            </div>
        </td>
    </tr>
    {% endfor %}
  
    </tbody>
</table>
</div>

<script type="module">
    import { bindTableSearch, byId } from '{% static "js/lib/dom.js" %}';

    bindTableSearch(byId('search'), byId('field-table'));
</script>

{% endblock %}