{% extends "system/base.html" %}
{% load static %}
{% block title %}Monitor{% endblock %}
{% block content %}

<div style="display: flex; margin-top: 10px">
    <h2>Monitor</h2>
    <div class="form-inline my-2 my-lg-0" style="margin-left: auto;">
        <input class="form-control me-2 sm-2" type="search" placeholder="Search" aria-label="Search" id="search">
    </div>
</div>

<div class="table-responsive">
  <table class="table table-striped" id="monitor-table" data-edit-url="{% url 'system:monitor_edit' %}">
    <thead>
      <tr>
        <th scope="col">Variable</th>
        <th scope="col">Type</th>
        <th scope="col">Value</th>
        <th scope="col">Edit</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    {% for full_name, variable in variables.items %}
      <tr data-variable="{{ full_name }}" data-type="{{ variable.type }}">
        <td>{{ full_name }}</td>
        <td>{{ variable.type }}</td>
        <td data-value></td>
        <td>
          {% if variable.type == "string" %}
          <input class="form-control monitor-input" type="text" value="{{ variable.default }}" aria-label="New value" data-edit>
          {% elif variable.type == "bool" %}
          <input type="checkbox" aria-label="New value" data-edit>
          {% elif "int" in variable.type %}
          <input class="form-control monitor-input" type="number" value="{{ variable.default }}" aria-label="New value" data-edit>
          {% elif variable.type in "float,double" %}
          <input class="form-control monitor-input" type="number" step="0.01" value="{{ variable.default }}" aria-label="New value" data-edit>
          {% endif %}
        </td>
        <td>
          <div class="btn-group button-group">
            <div class="ms-auto">
              <button class="btn btn-outline-secondary" type="button" data-upload aria-label="Write value">
                {% include "icons/cloud-upload.html" %}
              </button>
            </div>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<style>
  .monitor-input {
    border-radius: 5px;
    min-width: 5em;
  }
</style>

<script type="module" src="{% static 'js/pages/monitor.js' %}"></script>

{% endblock %}