{% extends "system/base.html" %} {% block title %} Process {% endblock %}
{% block content %}
<h2>Process</h2>
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Start Time</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
      <th scope="col" class="text-right">Edit</th>
    </tr>
  </thead>
  <tbody>
  {% for process in processes %}
    <tr>
      <th scope="row">{{ process.Idx }}</th>
      <td>{{ process.Name }}</td>
      <td>{{ process.StartTime }}</td>
      <td>{{ process.Status }}</td>
      <td>
        <div class="btn-group button-group">
          <form method="GET" action="{% url 'system:start_process' %}">
            <button type="submit" class="btn btn-outline-success" name="name" value="{{ process.Name }}">
              {% include "icons/play.html" %}
            </button>
          </form>
          <form method="GET" action="{% url 'system:stop_process' %}">
            <button type="submit" class="btn btn-outline-danger" name="name" value="{{ process.Name }}">
              {% include "icons/stop.html" %}
            </button>
          </form>
        </td>
        <td class="text-right">
          <form method="GET" action="{% url 'system:edit_process' %}">
            <button type="submit" class="btn btn-outline-primary" name="name" value="{{ process.Name }}">
              {% include "icons/pen.html" %}
            </button>
          </form>
          </div>
        </td>
    </tr>
  {% endfor %}

  </tbody>
</table>
</div>
{% endblock %}