<div class="row mb-2">
    <label class="col-sm-2" style="font-size: 1.2em;" for="{{ base_id }}-slider">{{ name }}</label>
    <div class="col-sm-1">
        <div class="d-flex justify-content-start">
            <span id="{{ base_id }}-label" class="badge text-bg-secondary" style="font-size: 1em; width: 5em">{{ initial_value }}</span>
        </div>
    </div>
    <div class="col d-flex justify-content-start">
        <label>{{ min_value }} {{ unit }}</label>
    </div>
    <div class="col-sm-7">
        <input type="range" id="{{ base_id }}-slider" name="{{ base_id }}" value="{{ initial_value }}" class="form-range" step="{{ step }}" min="{{ min_value }}" max="{{ max_value }}"
               data-label="{{ base_id }}-label" data-autosubmit>
    </div>
    <div class="col d-flex justify-content-start">
        <label>{{ max_value }} {{ unit }}</label>
    </div>
</div>
