<div class="w-100 d-flex flex-1 mb-2 ms-1 me-1">
    <label class="form-label mb-1 me-1 text-left" {% if not title %}hidden{% endif %}>{{ title }}</label>
    <button id="button-decrease-{{ base_id }}" type="button" class="btn btn-outline-secondary">{% include "icons/dash.html" %}</button>
    <input class="form-control text-center" type="number" step={{ step }} id="{{ base_id }}" value={{ default }} min={{ min }} max={{ max }}>
    <button id="button-increase-{{ base_id }}" type="button" class="btn btn-outline-secondary">{% include "icons/plus.html" %}</button>  
</div>

<script>
    $("#button-increase-{{ base_id }}").click(function() {
        let newValue = parseFloat($("#{{ base_id }}").val()) + {{ step }}
        let minValue = {{ min }};
        let maxValue = {{ max }};
        if (newValue > maxValue) {
            newValue = maxValue;
        }
        $("#{{ base_id }}").val(newValue).trigger("change");

    });
    $("#button-decrease-{{ base_id }}").click(function() {
        let newValue = parseFloat($("#{{ base_id }}").val()) - {{ step }}
        let minValue = {{ min }};
        let maxValue = {{ max }};
        if (newValue < minValue) {
            newValue = minValue;
        }
        $("#{{ base_id }}").val(newValue).trigger("change");
    });
</script>

<style>
.flex-1 {
    flex: 1;
    gap: .5rem;
}
</style>