<div class="w-100 d-flex flex-1" data-stepper>
    <label class="form-label mb-1 me-1 text-left" for="{{ base_id }}" {% if not title %}hidden{% endif %}>{{ title }}</label>
    <button type="button" class="btn btn-outline-secondary" data-step="-1">{% include "icons/dash.html" %}</button>
    <input class="form-control text-center" type="number" step="{{ step }}" id="{{ base_id }}" value="0.00" min="-100" max="100" data-decimals="2">
    <button type="button" class="btn btn-outline-secondary" data-step="1">{% include "icons/plus.html" %}</button>
</div>
