<div class="container-group" id="{{ base_id }}">
    <label class="form-label me-1 text-left" style="width: 5em;" for="{{ base_id }}-input">Rows</label>
    <div class="traject-group">
        <button type="button" class="btn btn-outline-secondary" data-row-action="previous">{% include "icons/dash.html" %}</button>
        <input type="text" class="form-control ms-2 me-2 text-center" style="width: 10em;" id="{{ base_id }}-input" placeholder="0 or 0,1,2,3 or 0-3" data-row-input>
        <button type="button" class="btn btn-outline-secondary" data-row-action="next">{% include "icons/plus.html" %}</button>
    </div>
    <button type="button" class="btn btn-outline-secondary" data-row-action="all">All</button>
    <button type="button" class="btn btn-outline-secondary" data-row-action="show">{% include "icons/arrow-repeat.html" %}</button>
</div>
